body,ul,li{
	margin:0; padding:0;
	font-family: "Microsoft YaHei" ! important;
	font-size: 90%;
}
ul,li{
	list-style:none;
}
.wrap{
	width:93%;
	margin:15px auto;
}
.hide{
	display:none;
}
#menu{
	height:25px;
	border-bottom:1px solid #ccc;
}
#menu li{
	float:left;
	width:80px;
	height:24px;
	cursor:pointer;
	margin:0px 4px;
	line-height:24px;
	text-align:center;
	border-bottom:none;
	background:#FFFFFF;
	border:0px solid #000;
}

#menu li:hover {
	background-color:#f5f5f5;
}

#menu .act{
	position:relative;
	height:25px;
	margin-bottom:-1px;
	background:#AAAAAA;
}
#item{
	border:1px solid #ccc;
	border-top:none;
	padding:20px;
}

button{
	width:70px;
	height:24px;
	margin:0 4px;
	text-align:center;
	border:0px solid #000;
	border-bottom:none;
	background:#FFFFFF;
	cursor:pointer
}
button:hover {
	background-color:#f5f5f5;
}
button:active {
	position:relative;
	top:1px;
}
